# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).
#
# @see https://www.cyberciti.biz/faq/setting-up-an-network-interfaces-file/

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# Ethernet interface
auto eth0
{% if network.dhcp %}
iface eth0 inet dhcp
  ethernet-wol g
{% else %}
iface eth0 inet static
  address {{ network.static.ip_address }}
  netmask {{ network.static.netmask }}
  gateway {{ network.static.gateway }}
  dns-nameservers {{ network.static.dns_1 }} {{ network.static.dns_2 }}
  ethernet-wol g
{% endif %}
