# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).
#
# @see https://www.cyberciti.biz/faq/setting-up-an-network-interfaces-file/

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

{% if network.ethernet.enabled %}
# Ethernet interface
auto eth0
{% if network.ethernet.dhcp %}
iface eth0 inet dhcp
  ethernet-wol g
{% else %}
iface eth0 inet static
  address {{ network.ethernet.static.ip_address }}
  netmask {{ network.ethernet.static.netmask }}
  gateway {{ network.ethernet.static.gateway }}
  ethernet-wol g
{% endif %}
{% endif %}

{% if network.wifi.enabled %}
# Wi-Fi interface
allow-hotplug wlan0
{% if network.wifi.dhcp %}
iface wlan0 inet dhcp
{% else %}
iface wlan0 inet static
  address {{ network.wifi.static.ip_address }}
  netmask {{ network.wifi.static.netmask }}
  gateway {{ network.wifi.static.gateway }}
{% endif %}
  wpa-ssid "{{ network.wifi.wpa_ssid }}"
  wpa-psk "{{ network.wifi.wpa_psk }}"
{% endif %}
