---
- name: Install Linux packages
  become: true
  ansible.builtin.package:
    name:
      - restic
    state: latest

- name: Create the '~/.local/bin' directory if it does not exist
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.local/bin"
    state: directory
    mode: '0700'

- name: Render the '~/.local/bin/restic-with-bucket' script
  ansible.builtin.template:
    src: home/baptiste/.local/bin/restic-with-bucket.j2
    dest: "{{ ansible_facts['env']['HOME'] }}/.local/bin/restic-with-bucket"
    owner: "{{ ansible_facts['env']['USER'] }}"
    group: "{{ ansible_facts['env']['USER'] }}"
    mode: u=rx

- name: Configure Restic backups
  block:
  - name: Render the '~/.local/bin/restic-{bucket_name}' scripts
    ansible.builtin.template:
      src: home/baptiste/.local/bin/restic-shortcut.j2
      dest: "{{ ansible_facts['env']['HOME'] }}/.local/bin/restic-{{ bucket_name }}"
      owner: "{{ ansible_facts['env']['USER'] }}"
      group: "{{ ansible_facts['env']['USER'] }}"
      mode: u=rx
    loop: "{{ restic_bucket_names }}"
    loop_control:
      loop_var: bucket_name

  - name: Create the '/var/log/restic-{bucket_name}/' directory if it does not exist
    become: true
    ansible.builtin.file:
      path: "/var/log/restic-{{ bucket_name }}/"
      state: directory
      owner: "{{ ansible_facts['env']['USER'] }}"
      group: "{{ ansible_facts['env']['USER'] }}"
      mode: '0700'
    loop: "{{ restic_bucket_names }}"
    loop_control:
      loop_var: bucket_name

  - name: Configure the 'restic-{bucket_name}' cron job
    become: true
    ansible.builtin.cron:
      name: "Backup with restic-{{ bucket_name }}"
      job: "{{ ansible_facts['env']['HOME'] }}/.local/bin/restic-{{ bucket_name }} backup /srv/backups/{{ bucket_name }} >> /var/log/restic-{{ bucket_name }}/restic-{{ bucket_name }}.log 2>&1"
      state: present
      user: "{{ ansible_facts['env']['USER'] }}"
      minute: "0"
      hour: "1"
      weekday: "*"
      month: "*"
      day: "*"
    loop: "{{ restic_bucket_names }}"
    loop_control:
      loop_var: bucket_name
