---
- name: Create the '/root/.local/bin' directory if it does not exist
  become: true
  ansible.builtin.file:
    path: "/root/.local/bin"
    state: directory
    mode: '0700'

- name: Copy file '/root/.local/bin/backup-pi-hole'
  become: true
  ansible.builtin.copy:
    src: root/.local/bin/backup-pi-hole
    dest: "/root/.local/bin/backup-pi-hole"
    mode: u=rx
    force: true

- name: Create the '/var/log/backup-pi-hole/' directory if it does not exist
  become: true
  ansible.builtin.file:
    path: "/var/log/backup-pi-hole/"
    state: directory
    owner: "{{ ansible_facts['env']['USER'] }}"
    group: "{{ ansible_facts['env']['USER'] }}"
    mode: '0700'

- name: Configure the Pi-hole backup cron job
  become: true
  ansible.builtin.cron:
    name: "Backup the Pi-hole with teleporter"
    job: "/root/.local/bin/backup-pi-hole >> /var/log/backup-pi-hole/backup-pi-hole.log 2>&1"
    state: present
    user: root
    minute: "*"
    hour: "*"
    weekday: "*"
    month: "*"
    day: "*"
