---
- name: Create the '~/.local/bin' directory if it does not exist
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.local/bin"
    state: directory
    mode: '0700'

- name: Copy file '~/.local/bin/update-pi-hole-iac.py'
  ansible.builtin.copy:
    src: home/baptiste/.local/bin/update-pi-hole-iac.py
    dest: "{{ ansible_facts['env']['HOME'] }}/.local/bin/update-pi-hole-iac.py"
    mode: u=rx
    force: true

- name: Create the '/var/log/update-pi-hole-iac/' directory if it does not exist
  become: true
  ansible.builtin.file:
    path: "/var/log/update-pi-hole-iac/"
    state: directory
    owner: "{{ ansible_facts['env']['USER'] }}"
    group: "{{ ansible_facts['env']['USER'] }}"
    mode: '0700'

- name: Configure the 'update-pi-hole-iac' cron job
  become: true
  ansible.builtin.cron:
    name: "Update Pi-hole IAC"
    job: "PI_HOLE_PASSWORD={{ pi_hole_app_password }} {{ ansible_facts['env']['HOME'] }}/.local/bin/update-pi-hole-iac.py >> /var/log/update-pi-hole-iac/update-pi-hole-iac.log 2>&1"
    state: present
    user: "{{ ansible_facts['env']['USER'] }}"
    minute: "0"
    hour: "6"
    weekday: "*"
    month: "*"
    day: "*"
