---
- name: Disable not useful services
  become: true
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: false
    masked: true
    state: stopped
  failed_when: false
  loop: "{{ disabled_services }}"
