---
# All our servers use only one Ethernet network interface named 'eth0'.
#
# We also manage network configuration using the traditional 'ifupdown' method, all other methode (i.e. Netplan, 
# NetworkManager, systemd-networkd, etc.) are disabled and uninstalled.
#
# @see https://wiki.debian.org/udev
# @see https://www.cyberciti.biz/faq/setting-up-an-network-interfaces-file/
# @see https://manpages.debian.org/trixie/ifupdown-ng-compat/interfaces.5.en.html

# Ensure the 'ifupdown' package is installed
- name: Ensure the 'ifupdown' package is installed
  become: true
  ansible.builtin.apt:
    name: ifupdown
    state: present

# Add an udev rule to set a predictable 'eth0' Ethernet network interface name
- name: Render the '/etc/udev/rules.d/10-network.rules' udev rules file
  become: true
  ansible.builtin.template:
    src: etc/udev/rules.d/10-network.rules.j2
    dest: /etc/udev/rules.d/10-network.rules
    owner: root
    group: root
    mode: 0644

- name: Render the '/etc/network/interfaces' file
  become: true
  ansible.builtin.template:
    src: etc/network/interfaces.j2
    dest: /etc/network/interfaces
    owner: root
    group: root
    mode: 0644

- name: Enable the 'networking' service
  become: true
  ansible.builtin.systemd:
    name: networking
    enabled: true
    state: started

- name: Remove not useful network management packages
  become: true
  ansible.builtin.apt:
    name: "{{ item }}"
    state: absent
    purge: yes
    autoremove: yes
  loop:
    - modemmanager
    - netplan.io
    - network-manager
    - wpasupplicant

- name: Disable not useful network management services
  become: true
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: false
    state: stopped
  failed_when: false
  loop:
    - ModemManager
    - NetworkManager
    - systemd-networkd
    - wpa_supplicant
