---
# FIXME: Move this to a dedicated role for Rasberry Pi management
# FIXME: We installed the Rasberry Pi in graphical mode which was not wanted. We should not remove NetworkManager and
#        replace it with systemd-networkd
#
# @see https://raspberrytips.fr
# @see https://raspberrytips.fr/desactiver-wifi-raspberry-pi/

# Check if netplan is installed
- name: Check if netplan is installed
  ansible.builtin.stat:
    path: /etc/netplan
  register: netplan_installed


########################################################################################################################
# Ethernet interface managed with netplan
########################################################################################################################

# The initial Rasberry Pi OS install created files names '90-NM-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx.yaml' in the 
# '/etc/netplan/' directory to configure the network interfaces using NetworkManager or systemd-networkd as renderer.
#
# We remove those files because they are not needed anymore
- name: Delete previously generated netplan config files
  become: true
  ansible.builtin.shell: rm -f 90-NM-*.yaml
  when: netplan_installed.stat.exists and netplan_installed.stat.isdir

# Warning, after 'netplan apply' this file is renamed into '90-NM-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx.yaml'
- name: Create an '/etc/netplan/10-eth0.yaml' file to configure a static IP address for the 'eth0' interface
  become: true
  ansible.builtin.template:
    src: etc/netplan/10-eth0.yaml.j2
    dest: /etc/netplan/10-eth0.yaml
    owner: root
    group: root
    mode: "400"
  vars:
    ip_address: "{{ lookup('community.general.bitwarden', '7f9fe70f-a0f4-45c2-b062-b3c50170d4c0', search='id', field='ipAddress') | first }}" 
    gateway: "{{ lookup('community.general.bitwarden', '7f9fe70f-a0f4-45c2-b062-b3c50170d4c0', search='id', field='gateway') | first }}"
    dns_1: "{{ lookup('community.general.bitwarden', '7f9fe70f-a0f4-45c2-b062-b3c50170d4c0', search='id', field='dns1') | first }}"
    dns_2: "{{ lookup('community.general.bitwarden', '7f9fe70f-a0f4-45c2-b062-b3c50170d4c0', search='id', field='dns2') | first }}"
  when: netplan_installed.stat.exists and netplan_installed.stat.isdir

- name: Apply the netplan configuration
  become: true
  ansible.builtin.command: netplan apply
  when: netplan_installed.stat.exists and netplan_installed.stat.isdir


########################################################################################################################
# Ethernet interface managed with /etc/network/interfaces
#
# @see https://manpages.debian.org/trixie/ifupdown-ng-compat/interfaces.5.en.html
########################################################################################################################

# TODO: It would definitely be better to manage everything with a custom built template
#
# @see https://gist.github.com/analytically/5760207
