---
network:
  version: 2
  ethernets:
    eth0:
      renderer: NetworkManager
      match: {}
      dhcp4: false
      dhcp6: false
      addresses:
        - {{ ip_address }}/24
      routes:
        - to: default
          via: {{ gateway }}
      nameservers:
        addresses:
          - {{ dns_1 }}
          - {{ dns_2 }}
      networkmanager:
        uuid: "00000000-0000-0000-0000-000000000000"
        name: "netplan-eth0"
        passthrough:
          proxy._: ""
