---
# @see https://developer.hashicorp.com/vault/install
- name: Check the Hashicorp keyring file
  ansible.builtin.stat:
    path: /usr/share/keyrings/hashicorp-archive-keyring.gpg
  register: hashicorp_keyring_file

- name: Add Vault APT keyring directory
  ansible.builtin.shell:
    cmd: wget -O - https://apt.releases.hashicorp.com/gpg | gpg --dearmor --yes -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
  become: true
  when: not hashicorp_keyring_file.stat.exists

- name: Add Vault APT repository
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [arch=arm64 signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com trixie main"
    state: present
    filename: hashicorp
    update_cache: no

- name: Update apt cache
  become: true
  ansible.builtin.apt:
    update_cache: yes

- name: Install 'vault' Linux package
  become: true
  ansible.builtin.package:
    name:
      - vault
    state: latest

- name: Copy Vault TLS certificate
  become: true
  ansible.builtin.copy:
    content: "{{ vault_tls_cert }}"
    dest: /opt/vault/tls/tls.crt
    owner: vault
    group: vault
    mode: '0600'

- name: Copy Vault TLS private key
  become: true
  ansible.builtin.copy:
    content: "{{ vault_tls_key }}"
    dest: /opt/vault/tls/tls.key
    owner: vault
    group: vault
    mode: '0600'

- name: Enable the 'vault' service
  become: true
  ansible.builtin.systemd:
    name: vault
    enabled: true
    state: started
