---
- hosts: pi-3
  vars_files:
    - pi-hole-domains.yml
    - pi-hole-lists.yml
  tasks:
    - name: Configure Pi-hole
      ansible.builtin.import_role:
        name: pi-hole
      vars:
        api:
          authentication:
            post:
              password: "{{ lookup('community.general.bitwarden', '7f9fe70f-a0f4-45c2-b062-b3c50170d4c0', search='id', field='piholePassword') | first }}" 
          domain_management:
            put: "{{ pi_hole_domains }}"
          list_management:
            put: "{{ pi_hole_lists }}"
          pi_hole_configuration:
            patch: ["{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/data/pi-hole:pi_hole_configuration') }}"]

  roles:
    - role: common
      vars:
        network:
          ethernet:
            mac_address: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/data/servers/pi-3:mac_address') }}"
            dhcp: false
            static:
              ip_address: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/data/servers/pi-3:ip_address') }}"
    - role: pi-3
      vars:
        swiss_backup_location: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/data/swiss-backup/homelab:location') }}" 
        swiss_backup_region: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/data/swiss-backup/homelab:region') }}"
        swiss_backup_project_name: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/data/swiss-backup/homelab:project_name') }}"
        swiss_backup_password: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/data/swiss-backup/homelab:password') }}"
        swiss_backup_user_name: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/data/swiss-backup/homelab:user_name') }}"
        git_user_email: "{{ lookup('community.general.bitwarden', '40322edd-657a-49f2-b509-adbb0135e41d', search='id', field='email') | first }}"
        git_user_name: "Baptiste Gaillard"
        github_pat: "{{ lookup('community.general.bitwarden', '7f9fe70f-a0f4-45c2-b062-b3c50170d4c0', search='id', field='githubPat') | first }}"
        github_username: "bgaillard"
        iac_updater_client_id: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/data/iac-updater:client_id') }}"
        iac_updater_installation_id: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/data/iac-updater:installation_id') }}"
        iac_updater_private_key: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=kv/data/iac-updater:private_key') }}"
        pi_hole_app_password: "{{ lookup('community.general.bitwarden', 'abeb0359-b120-4da6-8043-b3d1003775fa', search='id', field='appPassword') | first }}"
        restic_password: "{{ lookup('community.general.bitwarden', 'b3a24bd2-c777-4556-9f07-b39200acc70a', search='id', field='resticPassword') | first }}"
    - wireguard
