---
- hosts: pi-4
  roles:
    - role: common
      vars:
        network:
          ethernet:
            enabled: true
            mac_address: "{{ lookup('community.general.bitwarden', '5f23f062-c642-4c10-8c57-b3dc01505dd6', search='id', field='macAddress') | first }}"
            dhcp: false
            static:
              ip_address: "{{ lookup('community.general.bitwarden', '5f23f062-c642-4c10-8c57-b3dc01505dd6', search='id', field='ipAddress') | first }}"
    - role: pi-4
      vars:
        vault_version: "1.21.2"
