---
# @see https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta4/#kubeadm-k8s-io-v1beta4-ClusterConfiguration
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: stable
controlPlaneEndpoint: "10.0.0.40:6443"
apiServer:
  extraArgs:
    # Enable Static token file integration
    #
    # @see https://kubernetes.io/docs/reference/access-authn-authz/authentication/#static-token-file
    - name: token-auth-file
      value: /etc/kubernetes/pki/static-tokens.csv
etcd:
  external:
    endpoints:
      - https://10.0.0.11:2379
      - https://10.0.0.12:2379
      - https://10.0.0.13:2379
    caFile: /etc/kubernetes/pki/etcd/ca.crt
    certFile: /etc/kubernetes/pki/apiserver-etcd-client.crt
    keyFile: /etc/kubernetes/pki/apiserver-etcd-client.key
networking:
  serviceSubnet: "10.1.0.0/24"
  podSubnet: "10.1.1.0/24"
